[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.7.9"
isort = {extras = ["pipfile"],version = "==4.3.21"}

[packages]
django = "==2.2.7"

[requires]
python_version = "3.7"
